{% extends 'base.html.twig' %}

{% block title %}BackOffice{% endblock %}

{% block body %}

<div class="container-fluid">
    <h1 class="text-center">Bienvenue dans le BackOffice</h1>

    <ul>
        <li>
            <a href="{{ path('admin_vehicules') }}">Gérer les véhicules</a>
        </li>
        <li>
            <a href="{{ path('admin_membres') }}">Gérer les membres</a>
        </li>
        <li>
            <a href="{{ path('admin_commande') }}">Gérer les commandes</a>
        </li>
    </ul>












</div>
{% endblock %}
